<div style="background-color: aliceblue; color: #000; padding: 10px 20px; margin: 0;">
    <h2>{{name}}</h2>
    <hr />
    <h4>Здравствуйте, {{user.first_name}} {{user.last_name}}</h4>
    <p>Кто-то, предположительно, вы, запросил смену пароля для {{email}},<br />
    Если это были вы, ваш новый пароль:<br /><br /> <b>{{password}}</b></p>
    <br /><br />
    <strong style="color:red">Если вы не запрашивали сброс пароля, немедленно свяжитесь с менеджером!!!</strong>
    <p style="color: #999">
        --<br />
        <a href="mailto:{{support_mail}}" style="color: #999">{{support_mail}}</a><br />
        <a href="tel:{{support_phone}}" style="color: #999">{{support_phone}}</a>
    </p>    
</div>
